body {
    font-family: Arial, sans-serif;
}

.login-page {
    display: flex;
}

.image-section {
    width: 60%;
}

.form-section {
    width: 40%;
    padding: 20px;
}

.form-section h1 {
    margin-bottom: 20px;
}

.form-section p {
    margin-bottom: 40px;
}

.form-section form input {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.form-section form button {
    padding: 10px 20px;
}
